.header {
    padding: 50px 60px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #dde2e7;
}

.header__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search {
    display: flex;
    align-items: center;
}

.header__search-icon {
    margin-right: 45px;
}