- const footerNavFirst= [{ title: "Latest Posts", link: "#" }, { title: "Popular Posts", link: "#" }, ];
- const footerNavSecond= [{ title: "Search", link: "#" }, { title: "Contact Information", link: "#" }, ];
- const footerNavThird= [{ title: "Privacy Policy", link: "#" }, { title: "Terms of Use", link: "#" }, ];

footer
    .footer
        .container
            .row
                .col-3
                    +footer-nav(footerNavFirst)
                .col-3
                    +footer-nav(footerNavSecond)
                .col-3
                    +footer-nav(footerNavThird)

                .col-3
                    include ./../sections/social-icons.pug
    .copyright
        .container
            .copyright__text © Copyright 2019. All rights reserved.
