header.header
    .header__social
        include ./social-icons.pug
    .header-logo 
       h1.logo Hipsum Blog
    .header__search
        .header__search-icon
            img(src="./img/icons/search.svg" alt="Search" width="26")
        .header__search-subscribe 
            button.button-rouded Subscribe 