.pagination
    .pagination__recent
        a(href="#").pagination__text-link recent posts 

    .pagination__current 
        .pagination__current-active 1
        a(href="#").pagination__current-link 2
        a(href="#").pagination__current-link 3

    .pagination__older 
        a(href="#").pagination__text-link older posts