.post__share-icons
    .share-icons
        a(href="#").share-icons__item
            img(src="./img/icons/social/whatsapp.svg", alt="Whatsapp" width="21")
        a(href="#").share-icons__item
            img(src="./img/icons/social/instagram.svg", alt="Instagram" width="22")
        a(href="#").share-icons__item
            img(src="./img/icons/social/twitter.svg", alt="Twitter" width="24")
        a(href="#").share-icons__item   
            img(src="./img/icons/social/facebook-f.svg", alt="Facebook-f" width="14")
