.social__icons
    a(href='#').social__icons-item
        img(src="./img/icons/social/instagram.svg", alt="Instagram"  width="22")
    a(href='#').social__icons-item
        img(src="./img/icons/social/twitter.svg", alt="Twitter" width="24")
    a(href='#').social__icons-item
        img(src="./img/icons/social/facebook-f.svg" alt="Facebook" width="14")