+widget("Instagram")
    .widget-instagram
        +widget-instagram-item("insta-01.jpg" )
        +widget-instagram-item("insta-02.jpg" )
        +widget-instagram-item("insta-03.jpg" )
        +widget-instagram-item("insta-04.jpg" )
        +widget-instagram-item("insta-05.jpg" )
        +widget-instagram-item("insta-06.jpg" )
        +widget-instagram-item("insta-07.jpg" )
        +widget-instagram-item("insta-08.jpg" )
        +widget-instagram-item("insta-09.jpg" )
        +widget-instagram-item("insta-10.jpg" )