.copyright {
    padding: calc((60px - 14px) / 2) 0 ;
    background: #e8ebee;
}

.copyright__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: #b7babe;
    text-align: center;
}
