.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

    &:hover {
       color:#E84C50;
       transition: all 0.2s ease-in-out;
       text-decoration: none;
    }
}
.pagination__text-link,
a.pagination__text-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    color: #000000;      
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color:#E84C50;
        transition: all 0.2s ease-in-out;
        text-decoration: none;
     }
}

.pagination__current {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;

    & > *:not(:last-child) {
        margin-right: 20px;
    }
}

.pagination__current-active {
    color: #E84C50;
}

a.pagination__current-link {
    color: #000000;

    &:hover {
        color:#E84C50;
        transition: all 0.2s ease-in-out;
        text-decoration: none;
     }
}