.post {
    padding: 60px 0 40px;
    border: 1px solid #DDE2E7;
    text-align: center;
}
.post__title {
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 33px;
    line-height: 1.33;  
    color: #000000;

} 
.post__info {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    color: #B0B0B0;
    text-transform: uppercase;

} 
.post__img {
    margin-bottom: 40px;
}
.post__content {

    margin-bottom: 40px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: #000000;
    text-align: left;

}           
.post__footer {

    display: flex;
    justify-content: space-between;
    align-items: center;

}