.widget {
    &:first-child {
        margin-top: 60px;
    }

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}
.widget__title {
    padding: 25px 20px;
    height: 70px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    text-align: center;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    color: #000000;
}