extends ./../layouts/main.pug

block variables
    - const title = "Главная";

block content
    include ./../sections/header.pug

    .container
        .row
            .col-9
                +post("Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments",
                 "img-01.jpg", "inner.html" )
                    p Austin DIY sriracha polaroid sartorial la croix. Air plant vexillologist tilde listicle try-hard tousled. Drinking vinegar flexitarian tumblr, chia aesthetic lyft yuccie. Vegan jean shorts swag, single-origin coffee beard quinoa street art activated charcoal chartreuse whatever. Ramps mlkshk hammock, disrupt butcher poutine ethical prism photo booth keffiyeh franzen edison bulb hoodie master cleanse. Gastropub tofu schlitz, coloring book 3 wolf moon ennui gochujang tousled meggings hot chicken listicle. YOLO plaid fanny pack jean shorts pop-up truffaut tousled kombucha salvia whatever fixie tacos swag man bun migas.

                +post("Vinyl hexagon tbh selvage chambray street art", "december 12, 2019 — 2 comments",
                 "img-02.jpg", "inner.html" )
                    p Hashtag kickstarter aesthetic squid franzen wayfarers. Mlkshk flannel listicle, tumblr iceland poutine cold-pressed marfa. Microdosing deep v af flexitarian bushwick marfa shaman cronut, put a bird on it tbh viral. Pug kitsch organic schlitz actually synth iPhone forage cornhole thundercats hammock yuccie austin la croix. Pork belly chambray cliche hot chicken air plant.

                +post("Edison bulb raw denim 3 wolf moon shaman mustache taxidermy. Cliche disrupt slow-carb chicharrones", "december 08,    2019 — 2 comments",
                 "img-03.jpg", "inner.html" )
                    p Vegan jean shorts swag, single-origin coffee beard quinoa street art activated charcoal chartreuse whatever. Ramps mlkshk hammock, disrupt butcher poutine ethical prism photo booth keffiyeh franzen edison bulb hoodie master cleanse. Gastropub tofu schlitz, coloring book 3 wolf moon ennui gochujang tousled meggings hot chicken listicle.

                +post("Gastropub ennui keytar, plaid meggings marfa edison bulb pour-over austin enamel pin", "November 28, 2019 — 12 comments",
                 "img-04.jpg", "inner.html" )
                    p Meh try-hard raw denim, sustainable readymade yuccie irony direct trade vape gastropub swag. Vaporware gochujang blue bottle, dreamcatcher taxidermy iceland deep v before they sold out dolor meh cillum live-edge. Aliqua celiac brunch chartreuse irony ea. Fixie chillwave cloud bread +1.

                +post("Minim ad austin tousled gluten-free", "november 17, 2019 — 22 comments",
                 "img-05.jpg", "inner.html" )
                    p Nulla adipisicing salvia mlkshk nostrud marfa fam literally ugh sriracha umami ullamco beard. Wolf try-hard gochujang exercitation disrupt sriracha. Magna ad gastropub mollit pok pok. Waistcoat authentic fixie, XOXO messenger bag tumblr synth nostrud jean shorts distillery. Try-hard copper mug schlitz, readymade craft beer labore meggings mlkshk chicharrones keffiyeh iPhone photo booth cred man bun.

                include ./../sections/pagination.pug

            .col-3
                include ./../sections/recent-posts.pug
                include ./../sections/Popular-posts.pug
                include ./../sections/widget-instagram.pug
    
    include ./../sections/footer.pug