include ./../mixins/button-read-more.pug
include ./../mixins/post.pug
include ./../mixins/post-widget.pug
include ./../mixins/widget.pug
include ./../mixins/widget-instagram-item.pug
include ./../mixins/footer-nav.pug